<footer class="footer">
    <div class="container">
        <div class="footer-box mini-menu">
            <ul>
                <li><a href="#!/homemain">Головна</a></li>
                <li><a href="#!/homenews">Новини</a></li>
                <li><a href="#!/homefireplace">Каміни</a></li>
                <li><a href="#!/homesculpture">Скульптура</a></li>
                <li><a href="#!/homearchitecture">Архітектура</a></li>
                <li><a href="#!/homecontact">Контакти</a></li>
            </ul>
        </div>
        <div class="footer-box slogan">
            <h3 class="footer-title">Lorem ipsum dolor sit amet</h3>
            <div class="footer-title-line"></div>
            <p class="footer-title-text">Consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis
                enim.</p>
        </div>
        <div class="footer-box contacts">
            <h3 class="footer-title">Адреса</h3>
            <div class="footer-title-line"></div>
            <div class="footer-place contacts-text"><p>Україна, Львів, Назва вулиці, 99</p></div>
            <div class="footer-phone contacts-text"><p>+380 999 99 99 99</p></div>
            <div class="footer-email contacts-text"><p>namemail@mail.com</p></div>
            <div class="send contacts-text"><a href="#!/homecontact">Send us a message</a></div>
        </div>
        <div class="footer-box mini-news">
            <h3 class="footer-title">Новини</h3>
            <div class="footer-title-line"></div>
            <div class="mini-news-block" >
                <div class="mini-news-block-images"><img src="images/news-images/2.png" alt=""></div>
                <div class="mini-news-block-contain">
                    <div class="mini-news-block-title">Грегор Замза обнаружил</div>
                    <div class="mini-news-block-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза
                        обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой
                        спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный
                        дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот
                        окончательно сползти одеяло.
                    </div>
                </div>
                <div class="mini-news-block-arrow"></div>
            </div>
            <div class="mini-news-block" >
                <div class="mini-news-block-images"><img src="images/news-images/2.png" alt=""></div>
                <div class="mini-news-block-contain">
                    <div class="mini-news-block-title">Грегор Замза обнаружил</div>
                    <div class="mini-news-block-text">Проснувшись однажды утром после беспокойного сна, Грегор Замза
                        обнаружил, что он у себя в постели превратился в страшное насекомое. Лежа на панцирнотвердой
                        спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный
                        дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот
                        окончательно сползти одеяло.
                    </div>
                </div>
                <div class="mini-news-block-arrow"></div>
            </div>
        </div>
    </div>
</footer>
<div class="footer-copyright"><p>© copyright 2017</p></div>