<div class="top-header">
    <div class="container">
        <div class="contact">
            <div class="top-header-phone"><p>+380977777777</p></div>
        </div>
        <div class="contact">
            <div class="top-header-email"><p>ds-stone@gmail.com</p></div>
        </div>
        <div class="top-header-lang">
            <div class="lang">
                <ul>
                    <li class="lang-en disable"><a href="#">EN</a></li>
                    <li class="lang-ua"><a href="#">UA</a></li>
                    <li class="lang-pl disable"><a href="#">PL</a></li>
                    <li class="lang-ru disable"><a href="#">RU</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header id="header" class="header-element">
    <div class="header-anchor"></div>
    <div class="header header-container">
        <div class="container">
            <div class="top-logo" ></div>
            <nav class="top-menu">
                <ul>
                    <li><a href="#!/homemain">Головна</a></li>
                    <li><a href="#!/homenews">Новини</a></li>
                    <li><a href="#!/homefireplace">Каміни</a></li>
                    <li><a href="#!/homesculpture">Скульптура</a></li>
                    <li><a href="#!/homearchitecture">Архітектура</a></li>
                    <li><a href="#!/homecontact">Контакти</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <nav class="top-menu-hidden">
        <ul>
            <li><a href="index.html">Головна</a></li>
            <li><a href="news.html">Новини</a></li>
            <li><a href="fireplaces.html">Каміни</a></li>
            <li><a href="sculptures.html">Скульптура</a></li>
            <li><a href="architecture.html">Архітектура</a></li>
            <li><a href="contacts.html">Контакти</a></li>
        </ul>
        <i class="fa fa-times btn-close" aria-hidden="true"></i>
    </nav>
    <div class="bottom-header header-container">
        <div class="container">
            <div class="active-menu"><a href="">Головна</a></div>
            <div class="btn-menu"><i class="fa fa-bars" aria-hidden="true"></i></div>
        </div>
    </div>
</header>