<section class="social">
    <div class="container">
        <div class="social-block social-logo"><a href="#!/homamain"><img src="images/icon/logo-white.svg"
                                                                        alt="DS Stone"></a></div>
        <div class="social-block social-items">
            <ul>
                <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus"
                                                                          aria-hidden="true"></i></a>
                </li>
                <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube"
                                                                          aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"
                                                                            aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</section>