<div class="top-menu"></div>
<div class="admin_page admin">

    <div class=" header">
        <div class="top-logo" ui-sref="home.main"></div>
        <div class="in_nav admin-menu">
            <a ui-sref=".news" class="admin_item"><div class="&lt;!&ndash;icon3&ndash;&gt;"></div><i class=" fa fa-newspaper-o" aria-hidden="true"></i> Новини</a>
            <a ui-sref=".subCategory" class="admin_item"><div class="&lt;!&ndash;icon4&ndash;&gt;"></div><i class="fa fa-list" aria-hidden="true"></i>  Підкатегорії</a>
            <a ui-sref=".products" class="admin_item"><div class="&lt;!&ndash;icon5&ndash;&gt;"></div><i class="fa fa-pie-chart" aria-hidden="true"></i>  Продукти</a>

        </div>
        <div class=" admin">
            <div class="img_admin"><i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <a ui-sref="login"><input type='button'  class="btn-material" value="log Out"></a>

        </div>

    </div>
    <!-- <div class="row">
     <div class="col-lg-4 col-md-4 col-sm-4 navig">
         <div class="in_nav">
            &lt;!&ndash; <a ui-sref=".orders"><div class="icon1"></div>
                 Замовлення</a>&ndash;&gt;
             &lt;!&ndash;<a ui-sref=".users"><div class="icon2"></div>Користувачі</a>&ndash;&gt;
             &lt;!&ndash;<a ui-sref=".category"><div class="icon3"></div>Категорії</a>&ndash;&gt;
             <a ui-sref=".news"><div class="&lt;!&ndash;icon3&ndash;&gt;"></div><i class=" fa fa-newspaper-o" aria-hidden="true"></i> Новини</a>
             <a ui-sref=".subCategory"><div class="&lt;!&ndash;icon4&ndash;&gt;"></div><i class="fa fa-list" aria-hidden="true"></i>  Підкатегорії</a>
             <a ui-sref=".products"><div class="&lt;!&ndash;icon5&ndash;&gt;"></div><i class="fa fa-pie-chart" aria-hidden="true"></i>  Продукти</a>
         </div>
     </div>-->
    <div class="lol">
        <div ui-view></div>
    </div>
</div>

</div>



<!--<div class="container-fluid admin_page admin">-->

    <!--<div class="row">-->
        <!--<div class="col-lg-12 col-md-12 col-sm-12 header">-->

            <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 admin">&ndash;&gt;-->
            <!--<a ui-sref="login"><input type="button" class="btn btn-danger" value="Log Out"></a>-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
        <!--&lt;!&ndash;class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2 col-sm-2 col-sm-offset-2 col-xs-2 col-xs-offset-2"&ndash;&gt;-->
        <!--<div class="row">-->
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
            <!--<div class="row in_nav">-->
                <!--<a ui-sref=".news" class="col-lg-2 col-md-2 o col-sm-2 col-xs-2 offset-lg-2 offset-md-2"><div class="&lt;!&ndash;icon3&ndash;&gt;"></div><i class=" fa fa-newspaper-o" aria-hidden="true"></i> Новини</a>-->
                <!--<a ui-sref=".subCategory" class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><div class="&lt;!&ndash;icon4&ndash;&gt;"></div><i class="fa fa-list" aria-hidden="true"></i> Підкатегорії</a>-->
                <!--<a ui-sref=".products" class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><div class="&lt;!&ndash;icon5&ndash;&gt;"></div><i class="fa fa-pie-chart" aria-hidden="true"></i> Продукти</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-lg-10 col-md-9  col-sm-9 lol">-->
            <!--<div ui-view></div>-->
        <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

