<div class="anim-fade">
<section class="news-section">
    <div class="container">
        <div class="news-block" ng-repeat="news in news.news">
            <div class="news-block-image"><img src="http://185.65.246.204:8081{{news.img}}">
                <!--<figcaption>{{news.date}}</figcaption>-->
            </div>
            <div class="news-block-contain">
                <div class="news-block-title">{{news | translator:"nameNew"}}</div>
                <div class="news-block-text"><p ng-bind-html="news | translator:'description'"></p>
                </div>
                <input type="button" value="{{allText.newsBtn}}" class="none news-block-button" ui-sref="home.newsdesc({newsId: news.id})" ng-click="scrollTop('anchor')">
                <div class="date_of_news">{{news.data_news | dataFilter}}</div>
            </div>
        </div>

    </div>
</section>
</div>