<section class="product-block">
    <div class="container">
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/4.png" alt=""></div>
            <div class="product-categories-title">Назва скульптури</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/5.png" alt=""></div>
            <div class="product-categories-title">Назва скульптури</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/6.png" alt=""></div>
            <div class="product-categories-title">Назва скульптури</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/4.png" alt=""></div>
            <div class="product-categories-title">Назва скульптури</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/5.png" alt=""></div>
            <div class="product-categories-title">Назва скульптури</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/6.png" alt=""></div>
            <div class="product-categories-title">Назва скульптури</div>
        </div>
    </div>
</section>