<section class="product-description-block">
    <div class="container">
        <div class="slider">
            <div class="slider-block"><img class="slider-images" src=" images/slid1.jpg" alt=""></div>
            <div class="slider-block"><img class="slider-images" src=" images/slid2.jpg" alt=""></div>
            <div class="slider-block"><img class="slider-images" src=" images/slid3.jpg" alt=""></div>
            <div class="slider-block"><img class="slider-images" src=" images/slid4.jpg" alt=""></div>
            <div class="slider-block"><img class="slider-images" src=" images/slid5.jpg" alt=""></div>
        </div>
        <div class="product-description-info">
            <div class="product-description-title">Marlboro Cast Stone Fireplace</div>
            <div class="product-description-text">
                <p>Marlboro a slim mantel surround with an arch that accents the firebox. Pictured in precast which is similar to cast stone. Elegant curved trim with straight lines make it a great contemporary option. This design also works great in a traditional or modern setting. Have it installed in you craftsman home.
                </p>
                <p>Typical Dimensions: 64″ wide x 52″ high *can be made to custom dimensions. Firebox Opening: made-to-order</p>
                <p>Stone: cast stone, limestone, sandstone, marble, travertine etc. Available in many different colors, textures and finishes.</p>
                <p>Price: Cast Stone $3,599</p>
                <p>Travertine $3,999</p>
                <p>Sandstone $4,099</p>
                <p>Limestone $5,300</p>
                <p>Marble $4,120</p>
            </div>
        </div>
    </div>
</section>

<section class="line-box">
    <div class="container">
        <div class="line-dotted"></div>
    </div>
</section>

<section class="other-product-block">
    <div class="container">
        <div class="product"   >
            <div class="other-product-categories-images"><img src=" images/product/1.png" alt=""></div>
            <div class="other-product-categories-title">Назва каміну</div>
        </div>
        <div class="product"   >
            <div class="other-product-categories-images"><img src=" images/123.jpg" alt=""></div>
            <div class="other-product-categories-title">Назва каміну</div>
        </div>
        <div class="product"   >
            <div class="other-product-categories-images"><img src=" images/product/1.png" alt=""></div>
            <div class="other-product-categories-title">Назва каміну</div>
        </div>
    </div>
</section>