
<section class="fireplaces-categories">
    <div class="container">
        <div class="categories-container">
            <div class="categories-block active-categories">
                <img src="images/fireplace-categories/1.png" alt="">
                <p>Класика</p>
            </div>
            <div class="categories-block">
                <img src="images/fireplace-categories/2.png" alt="">
                <p>Модерн</p>
            </div>
            <div class="categories-block">
                <img src="images/fireplace-categories/3.png" alt="">
                <p>Бароко</p>
            </div>
            <div class="categories-block">
                <img src="images/fireplace-categories/4.png" alt="">
                <p>Кантрі</p>
            </div>
            <div class="arrow"></div>
        </div>
    </div>
</section>

<section class="product-block">
    <div class="container">
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/1.png" alt=""></div>
            <div class="product-categories-title">Назва каміну</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/2.png" alt=""></div>
            <div class="product-categories-title">Назва каміну</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/3.png" alt=""></div>
            <div class="product-categories-title">Назва каміну</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/1.png" alt=""></div>
            <div class="product-categories-title">Назва каміну</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/2.png" alt=""></div>
            <div class="product-categories-title">Назва каміну</div>
        </div>
        <div class="product" >
            <div class="main-categories-images"><img class="img" src="images/product/3.png" alt=""></div>
            <div class="product-categories-title">Назва каміну</div>
        </div>
    </div>
</section>
