<div class="anim-fade">
<section class="news-description" ng-if="desc.currentNews">
    <div class="container">
        <div class="news-description-block">
            <div class="news-description-image">
                <figcaption>{{desc.currentNews | translator:"nameNew"}}</figcaption>
                <img src="http://185.65.246.204:8081{{desc.currentNews.img}}" alt="" align="left">
                <div class="news-description-title">{{desc.currentNews | translator:"nameNew"}}</div>
                <div class="news-description-text" ng-bind-html="desc.currentNews | translator:'description'">
                    <!--{{desc.currentNews | translator:"desc ription"}}-->
                </div>
            </div>
            <!--<div class="news-description-date">{{news.data_news | dataFilter}}</div>-->
        </div>
    </div>
</section>
</div>