<div class="anim-fade">
<section class="contacts-section">
    <div class="container">
        <div class="contacts-title">
            <p>{{allText.contactTitle}}</p>
        </div>
        <div class="contacts-form">
            <form action="" class="contacts-form-block">
                <input type="text" placeholder={{allText.contactPlaceholderName}}>
                <input type="text" placeholder="E-mail">
                <textarea name="Повідомлення" placeholder={{allText.contactPlaceholderMessage}}></textarea>
                <input type="submit" value={{allText.contactBtn}}>
            </form>
        </div>
        <div class="contacts-description">
            <div class="footer-place contacts-text">{{allText.footerAddress}}</div>
            <div class="footer-phone contacts-text">+380 999 99 99 99</div>
            <div class="footer-email contacts-text">namemail@mail.com</div>
            <div class="line-dotted-small"></div>
            <div class="social-block social-items">
                <ul>
                    <li><a href="https://www.facebook.com/DM-stone-1270859399660889/?fref=ts" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/dm_stone_/" target="_blank"><i class="fa fa-instagram"
                                                                                aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
</div>