<section class="contacts-section">
    <div class="container">
        <div class="contacts-title">
            <p>Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился
                в страшное насекомое.</p>
        </div>
        <div class="contacts-form">
            <form action="" class="contacts-form-block">
                <input type="text" placeholder="Ім’я">
                <input type="text" placeholder="E-mail">
                <textarea name="Повідомлення" placeholder="Повідомлення"></textarea>
                <input type="submit" value="надіслати">
            </form>
        </div>
        <div class="contacts-description">
            <div class="footer-place contacts-text">Україна, Львів, Назва вулиці, 99</div>
            <div class="footer-phone contacts-text">+380 999 99 99 99</div>
            <div class="footer-email contacts-text">namemail@mail.com</div>
            <div class="line-dotted-small"></div>
            <div class="social-block social-items">
                <ul>
                    <li><a href="http://facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                    </li>
                    <li><a href="https://www.youtube.com/" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram"
                                                                                aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>